html {
    width: 100%;
}
body {
    min-width: 600px;
    max-width: 1200px;
    width: 95%;
    margin: auto;

}
.content {
    margin: 2em;
}

a:link {
    font-weight: bold;
    text-decoration: none;
    color: #0d8ba1;
}
a:visited {
    font-weight: bold;
    text-decoration: none;
    color: #1a5952;
}
a:hover, a:focus, a:active {
    text-decoration: underline;
    color: #9685BA;
}
p {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    text-align: justify;
    text-justify: inter-word;
}



textarea
{
    font-size:14px;
    font-family: monospace;
    width: 1033px;
	height: 120px;
}

#test1{
    font-size:12px;
    font-family: monospace;
    width: 770px;
    height: 200px;
}

#texta2{
    font-size:12px;
    font-family: monospace;
    width: 770px;
    height: 200px;
}
#texta3{
    font-size:12px;
    font-family: monospace;
    width: 770px;
    height: 200px;
}


.bk .custom1
{
    font-size:14px;
    margin: 0px 0px 0px 0px;
    font-family: monospace;
}



.widgetbox
{
    margin: 50px 50px 50px 50px;
}


.plotarea
{
    margin: 0px 0px 0px 80px;
}

.button
{
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}


.divider
{
    width:5px;
    height:auto;
    display:inline-block;
}

.table
{
     border: 1px solid black;
     border-collapse: collapse;
     margin: auto;
}

th
{
     border: 1px solid black;
     background-color: #4CAF50;
     color: white;
     padding: 0px 10px 0px 10px;
     text-align: center;
}

tr:nth-child(even) {background-color: #f2f2f2;}
tr:hover {background-color: #A9F5F2;}

td
{
     border: 1px solid black;
     font-size:12px;
     font-family: monospace;
     padding: 0px 10px 0px 10px;
     text-align: center;
}
